body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}
header{
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: black;
}
a{
  color: seashell;
  margin-left: 7px;
  margin-right: 7px;
}
header nav{
  flex-grow: 1;
  text-align: right;
  margin-right: 7px;
}
.logo img{
  max-height: 50px;
  padding-left: 10px;
}
.logo {
  display: flex;
  margin-bottom: 9px;
  margin-top:9px;
  align-items: center;
}
.Mission{
  background-image: url("./img-mission-background.jpg");
  height: 700px;
  width:1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 69px;
  margin-bottom: 60px;
}
.MissionText{
  background-color: black;
  width: 1200px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.Content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FeaturedTea{
  display: flex;
  justify-content:center;
  width: 1000px;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
}
.TeaImages{
  display:flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}
.TeaImageContainer{
  display:flex;
  flex-direction: column;
  padding: 10px;
}
.TeaImages .TeaImageContainer img{
  max-height: 200px;
  max-width: 300px;
}
.Locations{
  height:575px;
  width:1200px;
  background-image: url("./img-locations-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.LocationsColumn{
  display: flex;
  flex-direction: column;
}
.LocationsContainerBottom{
  display: flex;
  margin-top: 0px;
  flex-direction: row;
}
.LocationsContainerBlock{
  background-color: black;
  height: 300px;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;\
  justify-content:
  align-items: center;
}
footer{
  height: 200px;
}
